#container {
  @include max-width(320px);
  margin: auto;
  padding: 15px;
  position: relative;
}
.viewport {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 450px;
}
.exercises {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  @include transition(left, .2s);
  .exercise {
    width: 290px;
    margin-right: 15px;
    @include inline-block(middle);
  }
}
.timer {
  @include font-size(72, 1);
  margin: 10px 0;
  &.countdown {
    background: #ddd;
    color: #777;
  }
  &.golden {
    background: green;
    color: #FFF;
  }
  &.over {
    background: red;
    color: #FFF;
  }
}
.actions {
  padding-bottom: 50px;
}
.btn {
  padding-top: 20px;
  padding-bottom: 20px;
  @include font-size(32, 1);
  font-weight: bold;
  text-shadow: none;
}
.btn-block + .btn-block {
  margin: 0;
}
.form-control {
  @include font-size(20, 1);
  height: auto;
  padding: 10px;
}
h2 {
  @include font-size(20);
}
